<div class="menu">
    <div class="menu-header">
            <a style="width:100px;" href="index.html" class="menu-header-logo">
                <img src="~/vetra/assets/images/logo-dark.png" alt="logo">
        </a>
        <a href="index.html" class="btn btn-sm menu-close-btn">
            <i class="bi bi-x"></i>
        </a>
    </div>
    <div class="menu-body">
        @await Component.InvokeAsync("ProfileLayout")
        <ul>
            
            <li>
                <a class="@ViewBag.ActiveO"
                   href="/Seller/Order/Index">
                    <span class="nav-link-icon">
                        <i class="bi bi-bag-check"></i>
                    </span>
                    <span>Sifarişlər</span>
                </a>
            </li>
            <li>
                <a class="@ViewBag.ActiveP"
                    href="/Seller/Product/Index/">
                    <span class="nav-link-icon">
                        <i class="bi bi-layers"></i>
                    </span>
                    <span>Məhsullar</span>
                </a>
            </li>
            <li>
                <a class="@ViewBag.ActivePS"
                   href="/Seller/Product/AddStock/">
                    <span class="nav-link-icon">
                        <i class="bi bi-cloud-plus"></i>
                    </span>
                    <span>Məhsul qəbulu</span>
                </a>
            </li>
            <li>
                <a class="@ViewBag.ActiveCash"
                   href="/Seller/Cash/MyCash">
                    <span class="nav-link-icon">
                        <i class="bi bi-cash"></i>
                    </span>
                    <span>Kassa</span>
                </a>
            </li>
            <li>
                <a class="@ViewBag.ActiveCS"
                   href="/Seller/CampaignSurvey/Index/">
                    <span class="nav-link-icon">
                        <i class="bi bi-calendar2-plus"></i>
                    </span>
                    <span>Kompaniya sorğuları</span>
                </a>
            </li>
            <li>
                <a class="@ViewBag.ActiveMSH"
                   href="/Seller/Complaint/Index/">
                    <span class="nav-link-icon">
                        <i class="bi bi-cart-x-fill"></i>
                    </span>
                    <span>Məhsul şikayətləri</span>
                </a>
            </li>
            <li>
                <a class="@ViewBag.AD"
                   href="/Seller/Product/Interests">
                    <span class="nav-link-icon">
                        <i class="bi bi-percent"></i>
                    </span>
                    <span>Endirimlər</span>
                </a>
            </li>
            <li>
                <a class="@ViewBag.ActiveOC"
                   href="/Seller/Order/OrderCancel">
                    <span class="nav-link-icon">
                        <i class="bi bi-cart-x"></i>
                    </span>
                    <span>Sifarişi ləğv et</span>
                </a>
            </li>
        </ul>
    </div>
</div>