@model IEnumerable<EntityLayer.Concrete.StoreMessage>
@{
    ViewData["Title"] = "Mağazaya göndərilən mesajlar";
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
}

<div class="email-list">
    <ul class="list-group">
        @foreach (var smessage in Model)
        {
            <li class="list-group-item text-success" data-detail-url="/Seller/StoreMessage/MessageDetails/@smessage.MessageID">
                <div style="margin-bottom:15px;" class="d-none d-sm-block flex-shrink-0">
                    <figure class="avatar me-3">
                        <img src="@smessage.User.ProfileImage"
                             class="rounded-circle" alt="image">
                    </figure>
                </div>
                <div class="flex-grow-1">
                    <div class="mb-1 d-flex justify-content-between align-items-center">
                        <h6 class="text-truncate mb-0">@smessage.User.Name @smessage.User.Surname</h6>
                        <div class="ps-3 d-flex">
                            <span class="text-nowrap text-muted">@(((DateTime)smessage.MessageDateTime).ToString("MMM dd, HH:mm"))</span>
                        </div>
                    </div>
                    <div class="text-muted d-flex justify-content-between">
                        <div class="text-truncate">
                            @if (smessage.MessageBody.Length < 70)
                            {
                                <p>@smessage.MessageBody</p>
                            }
                            else
                            {
                                <p>@smessage.MessageBody.Substring(0, 70)...</p>
                            }
                        </div>
                        <a href="/Seller/StoreMessage/DeleteMessage/@smessage.MessageID" class="btn btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </li>
        }

    </ul>
</div>