@using EntityLayer.Concrete
@model List<Order>

@{
    ViewData["Title"] = "Sifarişlər";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="basic-form">
                <form method="post" action="/Admin/Order/Index/">
                    <div class="row">
                        <div class="col-sm-2">
                            <label style="font-size:15px; -webkit-text-fill-color:black;">Başlama vaxtı:</label>
                            <input name="StartDate" type="date" class="form-control">
                        </div>
                        <div class="col-sm-2 mt-2 mt-sm-0">
                            <label style="font-size:15px; -webkit-text-fill-color:black;">Bitmə vaxtı:</label>
                            <input name="EndDate" type="date" class="form-control">
                        </div>
                        <div class="col-sm-2 mt-2 mt-sm-0">
                            <button style="margin-top:27px;" type="submit" class="btn btn-primary">Axtar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table order-table table-sm mb-0">
                    <thead>
                        <tr>

                            <th class="align-middle">Sifariş</th>
                            <th class="align-middle pe-7">Tarix</th>
                            <th class="align-middle" style="min-width: 12.5rem;">Ünvan</th>
                            <th class="align-middle text-end">Vəziyyət</th>
                            <th class="align-middle text-end">Məbləğ</th>
                        </tr>
                    </thead>
                    <tbody id="orders">
                        @foreach (var order in Model)
                        {
                            <tr class="btn-reveal-trigger">

                                <td class="py-2">
                                    <a href="#">
                                        <strong class="text-primary" style="text-transform:uppercase">#@order.OrderCode</strong>
                                    </a> - <strong class="text-primary">
                                        @order.User.Name
                                        @order.User.Surname
                                    </strong><br><a href="mailto:@order.User.Email">@order.User.Email</a>
                                </td>
                                <td class="py-2">@(((DateTime)order.OrderDateTime).ToString("MMM dd yyyy - dddd, HH:mm"))</td>
                                <td class="py-2">
                                    @order.Adress.Street,@order.Adress.City
                                    <p class="mb-0 text-500">@order.Adress.Country</p>
                                </td>

                                <td class="py-2 text-end">
                                    @if (order.OrderStatusID == 1)
                                    {
                                        <span class="badge badge-success light badge-sm">
                                            Təsdiqlənib<span class="ms-1 fa fa-check"></span>
                                        </span>
                                    }
                                    else if (order.OrderStatusID == 2)
                                    {
                                        <span class="badge badge-danger light badge-sm">
                                            Ləğv edildi<span class="ms-1 fa fa-times"></span>
                                        </span>
                                    }

                                </td>
                                <td class="py-2 text-end font-w600">
                                    @order.Price ₼
                                </td>
                            </tr>
                        }
                        <tr style="background-color:#F9F02C">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-weight:bold; -webkit-text-fill-color:black" class="text-end">
                                Cəmi : @ViewBag.Total ₼
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
