@model EntityLayer.Concrete.Message
@{
    ViewData["Title"] = "Mesaja ətraflı bax";
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center my-4">
            <div class="d-flex align-items-center">
                <div class="avatar me-3">
                    <img src="@Model.SenderUser.ProfileImage"
                         class="rounded-circle"
                         alt="image">
                </div>
                <div>
                    <h6 class="mb-1">
                        @Model.SenderUser.Name @Model.SenderUser.Surname
                        @if (Model.SenderUser.IsAdmin == true && Model.SenderUser.IsSeller == false)
                        {
                            <img style="margin-bottom:2px;height:15px; width:15px;" src="~/mavi-tik.png" />
                        }
                        else
                        {

                        }
                        <span class="d-sm-inline fw-normal d-none text-muted ms-2">&lt;@Model.SenderUser.Email&gt;</span>
                    </h6>
                </div>
            </div>
            <div class="ms-auto d-none d-md-flex align-items-center gap-3">
                <span class="text-muted">@(((DateTime)Model.MessageDate).ToString("MMM dd, HH:mm"))</span>
                @if (Model.IsDelete)
                {
                    <a href="/Seller/Message/UnDeleteInMessage/@Model.MessageID" class="btn" style="background-color:darkblue; -webkit-text-fill-color:white">
                        <i class="bi bi-arrow-clockwise"></i>
                    </a>
                }
                else
                {
                    <a href="/Seller/Message/DeleteInMessage/@Model.MessageID" class="btn" style="background-color:red; -webkit-text-fill-color:white">
                        <i class="bi bi-trash"></i>
                    </a>
                }

            </div>
        </div>
        <div class="mb-4">
            <p>
                <strong>@Model.Subject</strong>
            </p>
            <p>
                @Model.MessageDetails
            </p>

            <p>
                <strong>@Model.SenderUser.Name @Model.SenderUser.Surname</strong>
                <br />
                <span>@Model.SenderUser.Store.Name</span>
            </p>
        </div>

    </div>
</div>