@using EntityLayer.Concrete
@model List<AppUser>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sellers</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Mail</th>
            <th>Store</th>
        </tr>
        <tbody>
            @foreach(var seller in Model)
            {
                <tr>
                    <td><img style="width:35px; height:35px" src="@seller.ProfileImage" />@seller.Name @seller.Surname</td>
                    <td>@seller.UserName</td>
                    <td>@seller.Email</td>
                    <td>@seller.Store.Name</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
