@model IEnumerable<EntityLayer.Concrete.ReplyToReply>

@foreach (var reply in Model)
{
    <div style="margin-left:100px;" class="single-comment">
        <div class="single-comment-thumb">

            <img src="@reply.User.ProfileImage">
        </div>
        <div class="single-comment-content">
            <div class="single-comment-content-top">
                <h6>@reply.User.Name @reply.User.Surname
                    @if (reply.User.IsAdmin == true && reply.User.IsSeller == false)
                    {
                        <img style="margin-bottom:2px;height:15px; width:15px;" src="~/mavi-tik.png" />
                    }
                    else if (reply.User.IsAdmin == false && reply.User.IsSeller == true)
                    {
                        <img style="margin-bottom:2px;height:15px; width:15px;" src="~/3718330.png" />
                    }
                    else
                    {

                    }
                    – @(((DateTime)reply.ReplyToReplyDateTime).ToString("MMMM dd, yyyy HH:mm"))</h6>
            </div>
            <p>
                @reply.ReplyToReplyContent
            </p>
        </div>
        @if (reply.UserID == ViewBag.UserID)
        {
            <a style="color:red" href="/ReplyToReply/DeleteReply/@reply.ReplyToReplyID">
                <svg style="margin-left:50px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                </svg>
            </a>
        }
        else
        {

        }
    </div>
}
