@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="commentlist">
    <h5>Rəylər:</h5>
    

    
    <br />
    @foreach (var comment in Model)
    {

        <div class="single-comment">
            <div class="single-comment-thumb">
                <img src="@comment.User.ProfileImage" alt="hastech logo">
            </div>
            @{
                ViewData["commentID"] = comment.CommentID;
            }
            
            
            <div class="single-comment-content">
                <div class="single-comment-content-top">
                    <h6>@comment.User.Name @comment.User.Surname
                        @if (comment.User.IsAdmin == true && comment.User.IsSeller == false)
                        {
                            <img style="margin-bottom:2px;height:15px; width:15px;" src="~/mavi-tik.png" />
                        }
                        else if (comment.User.IsAdmin == false && comment.User.IsSeller == true)
                        {
                            <img style="margin-bottom:2px;height:15px; width:15px;" src="~/3718330.png" />
                        }
                        else
                        {
                            
                        }
                        – @(((DateTime)comment.CommentDateTime).ToString("MMMM dd, yyyy HH:mm"))</h6>
                    <button type="button" class="@comment.Content" onclick="document.getElementsByClassName('@comment.CommentDateTime')[0].style.display = 'block'; document.getElementsByClassName('@comment.Content')[0].style.display = 'none';">Cavab yaz</button>
                    <form method="POST" id="welcomeDiv" class="@comment.CommentDateTime" action="/Reply/AddReply/" style="display:none;">
                        <input name="ProductId" value="@ViewBag.ID" hidden />
                        <input name="CommentId" value="@comment.CommentID" hidden />

                        <textarea name="Content" placeholder="Rəyə cavab yaz" rows="4" required></textarea>
                        <button type="submit">Göndər</button>
                        <button type="button" onclick="document.getElementsByClassName('@comment.CommentDateTime')[0].style.display = 'none'; document.getElementsByClassName('@comment.Content')[0].style.display = 'block';">Ləğv et</button>
                    </form>
                </div>
                <p>
                    @comment.Content
                </p>
            </div>
            @if (comment.UserID == ViewBag.UserID)
            {
                <a style="color:red" href="/Comment/DeleteComment/@comment.CommentID">
                    <svg style="margin-left:50px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </a>
            }
            else
            {

            }
        </div>
        @await Component.InvokeAsync("ReplyListInDetails")


    }
</div>
