@model IEnumerable<EntityLayer.Concrete.Reply>

@foreach(var reply in Model)
{
    <div style="margin-left:100px;" class="single-comment">
        <div class="single-comment-thumb">
            @{
                ViewData["ReplyID"] = reply.ReplyId;
            }
            
            <img src="@reply.User.ProfileImage">
        </div>
        <div class="single-comment-content">
            <div class="single-comment-content-top">
                <h6>@reply.User.Name @reply.User.Surname
                    @if (reply.User.IsAdmin == true && reply.User.IsSeller == false)
                    {
                        <img style="margin-bottom:2px;height:15px; width:15px;" src="~/mavi-tik.png" />
                    }
                    else if (reply.User.IsAdmin == false && reply.User.IsSeller == true)
                    {
                        <img style="margin-bottom:2px;height:15px; width:15px;" src="~/3718330.png" />
                    }
                    else
                    {

                    }– @(((DateTime)reply.ReplyDateTime).ToString("MMMM dd, yyyy HH:mm"))
                </h6>
                <button class="@reply.ReplyContent" onclick="document.getElementsByClassName('@reply.ReplyDateTime')[0].style.display = 'block'; document.getElementsByClassName('@reply.ReplyContent')[0].style.display = 'none';" type="button">Cavab yaz</button>
            </div>
            <form action="/ReplyToReply/AddReply/" style="display:none;" id="welcomeDiv" class="@reply.ReplyDateTime" method="POST" class="reply-form1 d-none" id="comment-2-reply-form">
                <input name="ReplyID" value="@reply.ReplyId" hidden>
                <input name="ProductId" value="@ViewBag.ID" hidden>
                <textarea name="Content" placeholder="Cavaba fikrini bildir" rows="4" required></textarea>
                <button type="submit">Göndər</button>
                <button type="button" onclick="document.getElementsByClassName('@reply.ReplyDateTime')[0].style.display = 'none'; document.getElementsByClassName('@reply.ReplyContent')[0].style.display = 'block';">Ləğv et</button>
            </form>
            <p>
                @reply.ReplyContent
            </p>
        </div>
        @if (reply.UserID == ViewBag.UserID)
        {
            <a style="color:red" href="/Reply/DeleteReply/@reply.ReplyId">
                <svg style="margin-left:50px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                </svg>
            </a>
        }
        else
        {

        }
    </div>
    @await Component.InvokeAsync("ReplyToReplyList")
}
