@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "Model:" + " " + Model.ProductCode;
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-xl-6">
    <div class="card">
        <div class="card-body p-3">
            <div id="lightgallery-1" class="row g-2">
                <a href="@Model.Image1" data-exthumbimage="@Model.Image1" data-src="@Model.Image1" class="col-lg-4  col-4">
                    <img src="@Model.Image1" alt="" style="width:100%;">
                </a>
                <a href="@Model.Image2" data-exthumbimage="@Model.Image2" data-src="@Model.Image2" class="col-lg-4  col-4">
                    <img src="@Model.Image2" alt="" style="width:100%;">
                </a>
                <a href="@Model.Image3" data-exthumbimage="@Model.Image3" data-src="@Model.Image3" class="col-lg-4  col-4 ">
                    <img src="@Model.Image3" alt="" style="width:100%;">
                </a>
            </div>
        </div>
        <div style="padding:15px;">
            <h3>@Model.ProductName</h3>
            <br />
            <span style="height:30px; width:30px;" class="badge badge-pill badge-primary"><i style="font-size:15px; margin-top:3px;" class="fa fa-calendar-day"></i></span>  <span style="margin-left:5px; color:black">@(((DateTime)Model.CreatedDate).ToString("MMMM dd, yyy"))</span>
            <br />
            <span style="height:30px; width:30px; margin-top:5px;" class="badge badge-pill badge-primary"><i style="font-size:15px; font-size:15px; margin-top:3px;" class="fa fa-manat-sign"></i></span> <span style="margin-left:5px; color:black"><del style="color:red">@Model.Price Azn</del> 10 Azn</span>
            <br />
            <span style="height:30px; width:30px; margin-top:5px;" class="badge badge-pill badge-primary"><i style="font-size:15px; margin-top:3px;" class="fa fa-dashboard"></i></span> <span style="margin-left:5px; color:black">@Model.Category.Name</span>
            @if(Model.Color != null)
            {
                <br />
                <span style="height:30px; width:30px; margin-top:5px;" class="badge badge-pill badge-primary"><i style="font-size:15px; margin-top:3px;" class="fa fa-paintbrush"></i></span> <span style="margin-left:5px; color:black">@Model.Color</span>
            }
            else
            {

            }
        </div>
    </div>
</div>
