@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "Məhsullar";
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
    ViewData["ActiveP"] = "active";
}
<a style="margin-left:900px;" href="/Seller/Product/AddProduct/" class="btn btn-success">+ Məhsul əlavə et!</a>
<div class="table-responsive">
    <table class="table table-custom table-lg mb-0" id="products">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Kateqoriya</th>
                <th>Vəziyyət</th>
                <th>Qiymət</th>
                <th>Yaradılma tarixi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>
                        <a href="#">
                            <img style="margin-right:10px" src="@product.Image1" class="rounded" width="40">
                            @product.ProductName
                        </a>
                    </td>
                    <td>@product.Category.Name</td>
                    <td>
                        @if (product.InStock)
                        {
                            <span class="badge rounded-pill bg-success">Mövcuddur</span>
                        }
                        else
                        {
                            <span class="badge rounded-pill bg-danger">Mövcud deyil</span>
                        }
                        
                    </td>
                    <td>@product.Price ₼</td>
                    <td>@(((DateTime)product.CreatedDate).ToString("MMMM dd, yyy"))</td>
                    <td>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>