@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "Məhsullar";
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
    ViewData["ActiveP"] = "active";
}
<div style="margin-left:720px;" class="btn-group" role="group" aria-label="Basic example">
    <a href="/Seller/Product/AddProduct/" class="btn btn-success">+ Məhsul əlavə et!</a>
    <a href="#" class="btn btn-success"><i class="bi bi-file-earmark-excel-fill"></i> Excel hesabatı</a>
</div>
<div class="table-responsive">
    <table class="table table-custom table-lg mb-0" id="products">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Kateqoriya</th>
                <th>Vəziyyət</th>
                <th>Qiymət</th>
                <th>Məhsul kodu</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>
                        <a href="/Seller/Product/ProductDetails/@product.ProductID">
                            <img style="margin-right:10px" src="@product.Image1" class="rounded" width="40">
                            @product.ProductName @if (product.Interest != 0)
                            {
                                <span class="text-success"> -@product.Interest%<i class="bi bi-arrow-down"></i></span>
                            }
                            else
                            {

                            }
                        </a>
                    </td>
                    <td>@product.Category.Name</td>
                    <td>
                        @if (product.InStock)
                        {
                            <span class="badge rounded-pill bg-success">Mövcuddur</span>
                        }
                        else
                        {
                            <span class="badge rounded-pill bg-danger">Mövcud deyil</span>
                        }
                        
                    </td>
                    <td>
                        @if (product.DiscountedPrice != null)
                        {
                            <p class="price"><del>@product.Price ₼</del> @product.DiscountedPrice ₼</p>
                        }
                        else
                        {
                            <p class="price">@product.Price ₼</p>
                        }
                    </td>
                    
                    <td>@product.ProductCode</td>
                    <td>
                        <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                               class="btn btn-floating"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="/Seller/Product/ProductDetails/@product.ProductID" class="dropdown-item text-success">View Details</a>
                                <a href="/Seller/Product/EditProduct/@product.ProductID" class="dropdown-item text-primary">Edit</a>
                                <a href="/Seller/Product/DeleteProduct/@product.ProductID" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
