@model EntityLayer.Concrete.Product
@using DataAccessLayer.Concrete
@{
    ViewData["Title"] = Model.ProductName;
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
    ViewData["ActiveP"] = "active";
    ViewData["ID"] = Model.ProductID;
}

<div class="row">
    <div class="col-md-12">

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="slick-wrapper">
                            <div class="slider-for mb-3">
                                <div class="slick-slide-item">
                                    <img src="@Model.Image1" class="w-100 rounded"
                                         alt="image">
                                </div>
                                <div class="slick-slide-item">
                                    <img src="@Model.Image2" class="w-100 rounded"
                                         alt="image">
                                </div>
                                <div class="slick-slide-item">
                                    <img src="@Model.Image3" class="w-100 rounded"
                                         alt="image">
                                </div>
                            </div>
                            <div class="slick-nav-wrapper">
                                <div class="slider-nav">
                                    <div class="slick-slide-item m-2">
                                        <img src="@Model.Image1" class="w-100 rounded"
                                             alt="image">
                                    </div>
                                    <div class="slick-slide-item m-2">
                                        <img src="@Model.Image2" class="w-100 rounded"
                                             alt="image">
                                    </div>
                                    <div class="slick-slide-item m-2">
                                        <img src="@Model.Image3" class="w-100 rounded"
                                             alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex justify-content-between align-items-start mt-4 mt-md-0">
                            <div>
                                <div class="small text-muted mb-2">@Model.Category.Name</div>
                                <h2>@Model.ProductName</h2>
                                <p>

                                    @if (Model.Stock > 0)
                                    {
                                        <span class="badge rounded-pill bg-success">Mövcuddur</span>
                                    }
                                    else if (Model.Stock == 0)
                                    {
                                        <span class="badge rounded-pill bg-danger">Mövcud deyil</span>
                                    }
                                </p>
                                <p>
                                    @Html.Raw(Model.ProductDescription)
                                </p>
                                @if (Model.Color != null)
                                {
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-text bg-orange rounded-circle"><i class="bi bi-paint-bucket"></i></span>
                                    </div>

                                    @Model.Color
                                }
                                else
                                {

                                }
                                <br />
                                @if (Model.Size != null)
                                {
                                    <div style="margin-top:10px;" class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-text bg-orange rounded-circle"><i class="bi bi-rulers"></i></span>
                                    </div>

                                    @Model.Size
                                }
                                else
                                {

                                }

                                <br />
                                <div style="margin-top:10px;" class="avatar flex-shrink-0 me-3">
                                    <span class="avatar-text bg-orange rounded-circle"><i class="bi bi-wallet"></i></span>
                                </div>
                                @if (Model.DiscountedPrice != null)
                                {
                                    <del>@Model.Price ₼</del>  <strong>@Model.DiscountedPrice ₼</strong>
                                }
                                else
                                {
                                    <strong>@Model.Price ₼</strong>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @{
                Context context = new Context();
            }
            @if (context.Comments.Where(x => x.ProductID == Model.ProductID).Count() != 0)
            {
                @await Component.InvokeAsync("SellerComment")
            }
            else
            {

                <br />
                <h6 style="text-align:center">Heç kim bu məhsula rəy bildirməyib,ilk rəy bildirən sən ol!</h6>
                <br />
            }
            <div style="padding:20px;">
                <h5>Rəy əlavə et:</h5>
                <form method="post" action="/Seller/Comment/AddComment/">
                    <div class="mb-3">
                        <input name="ProductID" value="@ViewBag.ID" hidden />
                        <textarea name="Content" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                        <br />
                        <button type="submit" class="btn btn-success">Göndər</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

   
