@model IEnumerable<EntityLayer.Concrete.Product>
<div class="trending-products-area mt-30">
	<div class="section-title">
		<h3 style="text-transform:uppercase">Son əlavə olunan məhsullar</h3>
	</div>

	<div class="tab-content" id="bstab1-ontent">
		<div class="tab-pane fade show active" id="bstab1-area1" role="tabpanel" aria-labelledby="bstab1-area1-tab">
			<div class="product-slider trending-products-slider slider-navigation-2">
				@foreach(var product in Model)
				{
					<div class="product-slider-col">
						<article class="hoproduct hoproduct-3">
							<div class="hoproduct-image">
								<a class="hoproduct-thumb" href="/Product/ProductDetails/@product.ProductID">
									<img class="hoproduct-frontimage" src="@product.Image1" alt="product image">
									<img class="hoproduct-backimage" src="@product.Image2" alt="product image">
								</a>
								<ul class="hoproduct-actionbox">
									<li><a href="#"><i class="lnr lnr-cart"></i></a></li>
									<li><a href="#" class="quickview-trigger"><i class="lnr lnr-eye"></i></a></li>
									<li><a href="#"><i class="lnr lnr-heart"></i></a></li>
								</ul>
								<ul class="hoproduct-flags">
									@if(product.DiscountedPrice != null)
									{
										<li class="flag-discount">-@product.Interest%</li>
									}
									else
									{
										
									}
								</ul>
							</div>
							<div class="hoproduct-content">
								<h5 class="hoproduct-title"><a href="/Product/ProductDetails/@product.ProductID">@product.ProductName</a></h5>
								<div class="hoproduct-rattingbox">
									<div class="rattingbox">
										<span class="active"><i class="ion ion-ios-star"></i></span>
										<span class="active"><i class="ion ion-ios-star"></i></span>
										<span class="active"><i class="ion ion-ios-star"></i></span>
										<span class="active"><i class="ion ion-ios-star"></i></span>
										<span class="active"><i class="ion ion-ios-star"></i></span>
									</div>
								</div>
								<div class="hoproduct-pricebox">
									<div class="pricebox">
										@if (product.DiscountedPrice != null)
										{
											<del class="oldprice">@product.Price ₼</del>
											<span class="price">@product.DiscountedPrice ₼</span>
										}
										else
										{
											<span class="price">@product.Price ₼</span>
										}
										
										
									</div>
								</div>
							</div>
						</article>
					</div>
				}
				
			</div>
		</div>
	</div>
</div>
