@model IEnumerable<EntityLayer.Concrete.Note>

<div class="tab-pane" id="notes">
    <div class="tab-pane-body">
        <ul class="list-group list-group-flush">

            @foreach(var note in Model)
            {
                <li class="px-0 list-group-item">
                <p class="mb-0 fw-bold text-success d-flex justify-content-between">
                    @note.NoteTitle
                </p>
                <span class="text-muted small">
                        <i class="bi bi-clock me-1"></i> @(((DateTime)note.NoteDateTime).ToString("MMMM dd, yyyy HH:mm"))
                </span>
                <div class="mt-2">
                        <a style="-webkit-text-fill-color:royalblue" data-bs-toggle="collapse" href="#@note.CollapseText@note.NoteId" role="button" aria-expanded="false" aria-controls="@note.CollapseText@note.NoteId">Qeydi gör</a>
                        <a style="-webkit-text-fill-color:red" href="/Seller/Note/DeleteNote/@note.NoteId" class="text-danger ms-2">Sil</a>
                </div>
                    <div class="collapse" id="@note.CollapseText@note.NoteId">
                        <div class="card card-body">
                            @note.NoteContent
                        </div>
                    </div>
            </li>
            }
            

        </ul>
    </div>
    <div class="tab-pane-footer">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> + Qeyd əlavə et!</button>

    </div>
</div>
